* {
    margin: 0;
    padding: 0;
}
.b-flex {
    display: flex;
}
.bg-gray {
    background-color: #f7f7f7;
}
.bor-white {
    border-color: #f7f7f7;
}
.bor-hex {
    border-color: #80e2cd;
}
.flex-vcenter {
    align-items: center;
}
.flex-jc-between {
justify-content: space-between;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.mg-auto {
    margin: auto;
}
.pad10 {
    padding: 10px;
}
.pad1030 {
    padding: 10px 30px;
}
.pad50px10 {
    padding: 50px 10px;
}
.pad0px10 {
    padding: 0 10px;
}
.pad0px50px {
    padding: 0 50px;
}
.t-white {
    color:#fff;
}
.t-hex {
    color: #80e2cd;
}
.w1000px {
    width: 1000px;
}
body {
    font-size: 1em;
    font-family: sans-serif;
    line-height: 1.5;
    color:rgb(30, 30, 32);
}  
h2 {
    padding-bottom: 20px;
}
.header {
    width: 100%;
    min-height: 50px;
    background: #fff;
    position: fixed;
    top: 0;
    padding: 10px 20px;
    box-sizing: border-box;
}
.menu {
    display: inline;
    list-style: none;
}
a {
    text-decoration: none;
    color:rgb(18, 18, 19);
}
.logotype {
    height: 30px;
    vertical-align: middle;
    /*margin: 10px;*/
}
.banner {
    text-align: center;
    padding: 50px;
    background: url(../images/banner.png) center no-repeat;
    background-size: cover;
}
.picture {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}
p.name {
    padding: 0 0 20px;
}
h1 {
    font-size: 40px;
}
.btn {
    border: 2px solid;
    font-weight: bolder;
    border-radius: 10px;
    height: 30px;
    background: transparent;
}
.anchor {
    display: block;
    margin-top: -50px;
    margin-bottom: 50px;
}
/*section {
    justify-content: center;
    box-sizing: border-box;
    padding: 50px 0;
}*/
.item {
    box-sizing: border-box;
    width: 300px;
}
.img-moon {
    width: 350px;
}
.text {
    box-sizing: border-box;
    width: 500px;
}
.content {
    text-align: center;
}
.fieldset {
    margin: 20px auto;
    border: 3px solid #80e2cd;
    width: 400px;
}
select { 
    height: 30px;
    width: 170px;
    border-radius: 10px;
    margin: 10px;
}
.legend {
    font-size: 20px;
    color: #80e2cd;
    font-weight: bolder;
    margin: 15px;
}
input {
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
}
.button2 {
    width: 426px;
    margin: auto;
}
footer {
    background: #2c3544;
}